# Movie 
The data is succesfully scrapped from imdb top netflix movies and tvshows

In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns

# read dataset

In [2]:
data=pd.read_csv("movies.csv")

In [3]:
data.head(5)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

### check the shape of this dataset  and check every column's datatype and how many null value present in this in every columns

In [4]:
data.shape

(9999, 9)

In [5]:
data.dtypes

MOVIES       object
YEAR         object
GENRE        object
RATING      float64
ONE-LINE     object
STARS        object
VOTES        object
RunTime     float64
Gross        object
dtype: object

In [6]:
data.isnull().sum()

MOVIES         0
YEAR         644
GENRE         80
RATING      1820
ONE-LINE       0
STARS          0
VOTES       1820
RunTime     2958
Gross       9539
dtype: int64

In [7]:
#we can do it by using single line of code using this method
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9355 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

### observe that there is so many null value present and there is a column  [votes], which  datatype is string but we can modify it into the numeric value

In [8]:
data.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [9]:
data['VOTES']

0        21,062
1        17,870
2       885,805
3       414,849
4           NaN
         ...
9994        NaN
9995        NaN
9996        NaN
9997        NaN
9998        NaN
Name: VOTES, Length: 9999, dtype: object

In [10]:
#we use replace function which is use in string to remove a specific letter so we remove {','} 
data['votes']=data['VOTES'].str.replace(',','')
data['votes']

0        21062
1        17870
2       885805
3       414849
4          NaN
         ...
9994       NaN
9995       NaN
9996       NaN
9997       NaN
9998       NaN
Name: votes, Length: 9999, dtype: object

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9355 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
 9   votes     8179 non-null   object
dtypes: float64(2), object(8)
memory usage: 781.3+ KB

### Here we see a additional column add name ['votes'] which datatype also string so we are convert into numeric column

### but we some there is some NaN value present so 1st we are fill it with '0' and then convert it into numeric column then we fill all 0 value to the median of this column

### Atlast Remove the previous ['VOTES'] column

In [12]:
data['votes'].fillna('0',inplace=True)
data['votes']=data['votes'].astype(int)

In [13]:
data.describe()

            RATING      RunTime         votes
count  8179.000000  7041.000000  9.999000e+03
mean      6.921176    68.688539  1.237121e+04
std       1.220232    47.258056  6.362652e+04
min       1.100000     1.000000  0.000000e+00
25%       6.200000    36.000000  3.900000e+01
50%       7.100000    60.000000  4.090000e+02
75%       7.800000    95.000000  2.627000e+03
max       9.900000   853.000000  1.713028e+06

In [14]:
#here we replace the zero value to the mean value  
data['votes']=data['votes'].replace(0,data['votes'].mean())

In [15]:
#here drop the previous 'VOTES' column which datatype is string 
data.drop('VOTES',axis=1,inplace=True)

In [16]:
data.head(5)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,RunTime,Gross,votes
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,121.0,NaN,21062.000000
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...",25.0,NaN,17870.000000
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...",44.0,NaN,885805.000000
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...",23.0,NaN,414849.000000
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,12371.208021

In [17]:
data.describe()

            RATING      RunTime         votes
count  8179.000000  7041.000000  9.999000e+03
mean      6.921176    68.688539  1.462299e+04
std       1.220232    47.258056  6.336720e+04
min       1.100000     1.000000  5.000000e+00
25%       6.200000    36.000000  2.430000e+02
50%       7.100000    60.000000  1.550000e+03
75%       7.800000    95.000000  1.237121e+04
max       9.900000   853.000000  1.713028e+06

### top voted movie

In [18]:
def topvoted_movie(x):
    votes=[]
    votes=data.sort_values(by=['votes'], ascending=False).head(x)['votes']
    top_voted_movies=[]
    top_voted_movies=data.sort_values(by=['votes'], ascending=False).head(x)['MOVIES']
    d1=zip(top_voted_movies,votes)
    return dict(d1)
a=topvoted_movie(5)
a

{'The Lord of the Rings: The Fellowship of the Ring': 1713028.0,
 'The Lord of the Rings: The Return of the King': 1691777.0,
 'Breaking Bad': 1552311.0,
 'The Lord of the Rings: The Two Towers': 1529752.0,
 'The Departed': 1227522.0}

### we saw lots of null value present in the runtime column now we are filling it with the mean value

In [19]:
data['RunTime'].isnull().sum()

2958

In [20]:
data['RunTime'].fillna(data['RunTime'].mean(),inplace=True)

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9355 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   RunTime   9999 non-null   float64
 7   Gross     460 non-null    object
 8   votes     9999 non-null   float64
dtypes: float64(3), object(6)
memory usage: 703.2+ KB

### top runtime movie

In [22]:
def topruntime_movie(x):
    time=[]
    time=data.sort_values(by=['RunTime'], ascending=False).head(x)['RunTime']
    longest_movies=[]
    longest_movies=data.sort_values(by=['RunTime'], ascending=False).head(x)['MOVIES']
    d1=zip(longest_movies,time)
    return dict(d1)
a=topruntime_movie(10)

for x, y in a.items():
      print(x,y)

El tiempo entre costuras 853.0
Soupçons 629.0
The Innocence Files 573.0
The Haunting of Hill House 572.0
Cosmos: A Spacetime Odyssey 557.0
Dogs of Berlin 542.0
Away 498.0
The Haunting of Bly Manor 494.0
The Last Dance 491.0
El inocente 467.0

### year

In [23]:
data["Year"] = data["YEAR"].str.replace('(', '')
data["Year"] = data["YEAR"].str.replace(')', '')

C:\Users\91810\AppData\Local\Temp\ipykernel_25860\3036230525.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["Year"] = data["YEAR"].str.replace('(', '')
C:\Users\91810\AppData\Local\Temp\ipykernel_25860\3036230525.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["Year"] = data["YEAR"].str.replace(')', '')

In [24]:
data['Year'] = data['Year'].str.strip()
data[["Mix", "End_Year"]] = data['Year'].str.split('–', 1, expand=True)

In [25]:

import re

data['Start_Year'] = data['Mix'].astype(str).apply(lambda x: ''.join(re.findall(r'\d{4}', x)))
data['Season'] = data['Mix'].astype(str).apply(lambda x: ''.join(re.findall(r'\b[I|V|X|L|C|D|M]+\b', x)))
data['Type'] = data['Mix'].astype(str).apply(lambda x: ''.join(re.sub(r'(\d{4}|\b[I|V|X|L|C|D|M]+\b)', '', x)))

In [26]:
data.head(5)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,RunTime,Gross,votes,Year,Mix,End_Year,Start_Year,Season,Type
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,121.000000,NaN,21062.000000,(2021,(2021,None,2021,,(
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...",25.000000,NaN,17870.000000,(2021–,(2021,,2021,,(
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...",44.000000,NaN,885805.000000,(2010–2022,(2010,2022,2010,,(
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...",23.000000,NaN,414849.000000,(2013–,(2013,,2013,,(
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,68.688539,NaN,12371.208021,(2021,(2021,None,2021,,(

### Here we saw that there are three category geners are present so we separate it

In [27]:
#to remove the '\n' 
data['Genre'] = data['GENRE'].str.strip('\n')
#separate here every genre
data[['Genre1', 'Genre2', 'Genre3']] = data['Genre'].str.split(',',expand=True)

In [28]:
data.head(5)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,RunTime,Gross,votes,Year,Mix,End_Year,Start_Year,Season,Type,Genre,Genre1,Genre2,Genre3
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,121.000000,NaN,21062.000000,(2021,(2021,None,2021,,(,"Action, Horror, Thriller",Action,Horror,Thriller
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...",25.000000,NaN,17870.000000,(2021–,(2021,,2021,,(,"Animation, Action, Adventure",Animation,Action,Adventure
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...",44.000000,NaN,885805.000000,(2010–2022,(2010,2022,2010,,(,"Drama, Horror, Thriller",Drama,Horror,Thriller
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...",23.000000,NaN,414849.000000,(2013–,(2013,,2013,,(,"Animation, Adventure, Comedy",Animation,Adventure,Comedy
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,68.688539,NaN,12371.208021,(2021,(2021,None,2021,,(,"Action, Crime, Horror",Action,Crime,Horror

In [29]:
genre1=[]
genre2=[]
genre3=[]

genre1=data['Genre1'].value_counts()
genre2=data['Genre2'].value_counts()
genre3=data['Genre3'].value_counts()
print("<____Genre1_____>")
print(genre1)
print("\n\n<____Genre2_____>\n\n")
print(genre2)
print("\n\n<____Genre1_____>\n\n")

print(genre3)

<____Genre1_____>
Animation                  1647
Action                     1260
Drama                      1150
Comedy                     1103
Comedy                      852
Crime                       734
Documentary                 724
Drama                       562
Documentary                 498
Adventure                   197
Reality-TV                  174
Biography                   161
Horror                      105
Game-Show                    87
Animation                    76
Talk-Show                    66
Thriller                     65
Horror                       54
Short                        50
Action                       36
Crime                        36
Romance                      34
Family                       32
Fantasy                      23
Family                       20
Reality-TV                   20
Mystery                      18
Music                        17
Short                        17
Music                        14
Sci-Fi                       11
Fantasy                       9
Biography                     9
Sci-Fi                        8
Game-Show                     7
Sport                         6
Adventure                     6
Western                       6
Romance                       5
News                          4
Mystery                       4
Musical                       3
History                       2
Talk-Show                     2
War                           1
Film-Noir                     1
Musical                       1
Thriller                      1
News                          1
Name: Genre1, dtype: int64


<____Genre2_____>


 Drama                      1327
 Action                      928
 Adventure                   766
 Crime                       507
 Drama                       450
 Romance                     387
 Comedy                      339
 Mystery                     229
 Thriller                    219
 Fantasy                     210
 Short                       199
 Horror                      196
 Comedy                      149
 History                     132
 Reality-TV                  131
 Crime                       121
 Biography                   107
 Sport                        97
 Family                       95
 History                      92
 Music                        80
 Family                       78
 Short                        67
 Mystery                      49
 Fantasy                      48
 Sci-Fi                       47
 Horror                       37
 Sci-Fi                       36
 Reality-TV                   30
 Music                        27
 Romance                      25
 Biography                    23
 Musical                      18
 Talk-Show                    16
 Adventure                    12
 War                          11
 Musical                      10
 Western                       9
 Thriller                      6
 Animation                     5
 Action                        4
 Animation                     4
 News                          4
 Game-Show                     3
 Film-Noir                     3
 Documentary                   2
 News                          1
 Sport                         1
Name: Genre2, dtype: int64


<____Genre1_____>


 Drama                     836
 Adventure                 811
 Thriller                  619
 Mystery                   580
 Romance                   402
 Comedy                    389
 Fantasy                   282
 Family                    231
 Sci-Fi                    208
 Crime                     168
 Horror                    161
 History                   146
 Sport                      88
 Music                      62
 War                        36
 Action                     30
 Musical                    29
 Reality-TV                 15
 News                       13
 Biography                  12
 Western                     9
 Film-Noir                   8
 Talk-Show                   5
 Game-Show                   1
Name: Genre3, dtype: int64

### [STARS] column has 2 different data director name and actor name so we separate it

In [30]:
#data['STARS']

In [31]:
"""
data['star']=data['STARS'].str.strip('\n')
data[['Director', 'Actor']] = data['star'].str.split('|', 1, expand=True)
"""

"\ndata['star']=data['STARS'].str.strip('\n')\ndata[['Director', 'Actor']] = data['star'].str.split('|', 1, expand=True)\n"

In [32]:





#Split and clean the Stars column from the dataframe
data['Stars'] = data['STARS'].str.strip('\n')
stars = pd.DataFrame()
data[['Director', 'Actor']] = data['Stars'].str.split('|', 1, expand=True)
#movies_df





for idx, value in data['Director'].iteritems():
    #if idx < 10: print(idx, value)
    if 'Stars:' in value:
        data['Actor'][idx], data['Director'][idx] = value, ''
        
        
        
        
        
data['Director'] = data['Director'].str.replace('Director:', '')
data['Director'] = data['Director'].str.replace('Directors:', '')
data['Actor'] = data['Actor'].str.replace('Stars:', '')
data['Actor'] = data['Actor'].str.replace('Star:', '')




data['Director'] = data['Director'].str.strip()
data['Actor'] = data['Actor'].str.strip()
data['Actor'] = data['Actor'].str.replace('\n', '')




# The concept of cleaning these kind of columns is significant here
data[['Actor1', 'Actor2', 'Actor3', 'Actor4']] = data['Actor'].str.split(',', 4, expand=True)
#First 4 directors are considered
data[['Director1', 'Director2', 'Director3', 'Director4', 'DirectorN']] = data['Director'].str.split(',', 4, expand=True)





#Director
for idx, val in data['Director1'].iteritems():
    if val == '': data['Director1'][idx] = 'Unknown'
# for idx, val in movies_df['Director2'].iteritems():
#     if val == '': movies_df['Director2'][idx] = 'None'
# for idx, val in movies_df['Director3'].iteritems():
#     if val == '': movies_df['Director3'][idx] = 'None'
# for idx, val in movies_df['Director4'].iteritems():
#     if val == '': movies_df['Director4'][idx] = 'None'

data['Director1'] = data['Director1'].fillna('Unknown')
# movies_df['Director2'] = movies_df['Director2'].fillna('None')
# movies_df['Director3'] = movies_df['Director3'].fillna('None')
# movies_df['Director4'] = movies_df['Director4'].fillna('None')





#Actor
for idx, val in data['Actor1'].iteritems():
    if val == '': data['Actor1'][idx] = 'Unknown'
# for idx, val in movies_df['Actor2'].iteritems():
#     if val == '': movies_df['Actor2'][idx] = 'None'
# for idx, val in movies_df['Actor3'].iteritems():
#     if val == '': movies_df['Actor3'][idx] = 'None'
# for idx, val in movies_df['Actor4'].iteritems():
#     if val == '': movies_df['Actor4'][idx] = 'None'

data['Actor1'] = data['Actor1'].fillna('Unknown')
# movies_df['Actor2'] = movies_df['Actor2'].fillna('None')
# movies_df['Actor3'] = movies_df['Actor3'].fillna('None')
# movies_df['Actor4'] = movies_df['Actor4'].fillna('None')

C:\Users\91810\AppData\Local\Temp\ipykernel_25860\632212183.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Actor'][idx], data['Director'][idx] = value, ''
C:\Users\91810\AppData\Local\Temp\ipykernel_25860\632212183.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if val == '': data['Director1'][idx] = 'Unknown'

In [33]:
data.head(5)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,RunTime,Gross,votes,Year,...,Actor,Actor1,Actor2,Actor3,Actor4,Director1,Director2,Director3,Director4,DirectorN
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,121.000000,NaN,21062.000000,(2021,...,"Peri Baumeister, Carl Anton Koch, Alexander Sc...",Peri Baumeister,Carl Anton Koch,Alexander Scheer,Kais Setti,Peter Thorwarth,None,None,None,None
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...",25.000000,NaN,17870.000000,(2021–,...,"Chris Wood, Sarah Michelle Gellar, Lena Headey...",Chris Wood,Sarah Michelle Gellar,Lena Headey,Mark Hamill,Unknown,None,None,None,None
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...",44.000000,NaN,885805.000000,(2010–2022,...,"Andrew Lincoln, Norman Reedus, Melissa McBride...",Andrew Lincoln,Norman Reedus,Melissa McBride,Lauren Cohan,Unknown,None,None,None,None
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...",23.000000,NaN,414849.000000,(2013–,...,"Justin Roiland, Chris Parnell, Spencer Grammer...",Justin Roiland,Chris Parnell,Spencer Grammer,Sarah Chalke,Unknown,None,None,None,None
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,68.688539,NaN,12371.208021,(2021,...,"Matthias Schweighöfer, Nathalie Emmanuel, Ruby...",Matthias Schweighöfer,Nathalie Emmanuel,Ruby O. Fee,Stuart Martin,Matthias Schweighöfer,None,None,None,None

# FINAL OUTCOME

In [34]:
data.head(10)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,RunTime,Gross,votes,Year,...,Actor,Actor1,Actor2,Actor3,Actor4,Director1,Director2,Director3,Director4,DirectorN
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,121.000000,NaN,21062.000000,(2021,...,"Peri Baumeister, Carl Anton Koch, Alexander Sc...",Peri Baumeister,Carl Anton Koch,Alexander Scheer,Kais Setti,Peter Thorwarth,None,None,None,None
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...",25.000000,NaN,17870.000000,(2021–,...,"Chris Wood, Sarah Michelle Gellar, Lena Headey...",Chris Wood,Sarah Michelle Gellar,Lena Headey,Mark Hamill,Unknown,None,None,None,None
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...",44.000000,NaN,885805.000000,(2010–2022,...,"Andrew Lincoln, Norman Reedus, Melissa McBride...",Andrew Lincoln,Norman Reedus,Melissa McBride,Lauren Cohan,Unknown,None,None,None,None
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...",23.000000,NaN,414849.000000,(2013–,...,"Justin Roiland, Chris Parnell, Spencer Grammer...",Justin Roiland,Chris Parnell,Spencer Grammer,Sarah Chalke,Unknown,None,None,None,None
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,68.688539,NaN,12371.208021,(2021,...,"Matthias Schweighöfer, Nathalie Emmanuel, Ruby...",Matthias Schweighöfer,Nathalie Emmanuel,Ruby O. Fee,Stuart Martin,Matthias Schweighöfer,None,None,None,None
5,Outer Banks,(2020– ),"\nAction, Crime, Drama",7.6,\nA group of teenagers from the wrong side of ...,"\n \n Stars:\nChase Stokes, \nMa...",50.000000,NaN,25858.000000,(2020–,...,"Chase Stokes, Madelyn Cline, Madison Bailey, J...",Chase Stokes,Madelyn Cline,Madison Bailey,Jonathan Daviss,Unknown,None,None,None,None
6,The Last Letter from Your Lover,(2021),"\nDrama, Romance",6.8,\nA pair of interwoven stories set in the past...,\n Director:\nAugustine Frizzell\n| \n S...,110.000000,NaN,5283.000000,(2021,...,"Shailene Woodley, Joe Alwyn, Wendy Nottingham,...",Shailene Woodley,Joe Alwyn,Wendy Nottingham,Felicity Jones,Augustine Frizzell,None,None,None,None
7,Dexter,(2006–2013),"\nCrime, Drama, Mystery",8.6,"\nBy day, mild-mannered Dexter is a blood-spat...","\n \n Stars:\nMichael C. Hall, \...",53.000000,NaN,665387.000000,(2006–2013,...,"Michael C. Hall, Jennifer Carpenter, David Zay...",Michael C. Hall,Jennifer Carpenter,David Zayas,James Remar,Unknown,None,None,None,None
8,Never Have I Ever,(2020– ),\nComedy,7.9,\nThe complicated life of a modern-day first g...,\n \n Stars:\nMaitreyi Ramakrish...,30.000000,NaN,34530.000000,(2020–,...,"Maitreyi Ramakrishnan, Poorna Jagannathan, Dar...",Maitreyi Ramakrishnan,Poorna Jagannathan,Darren Barnet,John McEnroe,Unknown,None,None,None,None
9,Virgin River,(2019– ),"\nDrama, Romance",7.4,"\nSeeking a fresh start, nurse practitioner Me...",\n \n Stars:\nAlexandra Breckenr...,44.000000,NaN,27279.000000,(2019–,...,"Alexandra Breckenridge, Martin Henderson, Coli...",Alexandra Breckenridge,Martin Henderson,Colin Lawrence,Tim Matheson,Unknown,None,None,None,None